ul{
    list-style: none;
}
.city{
    text-transform: capitalize;
}
.temp{
    font-size: xx-large;
}
.description::first-letter{
    text-transform: capitalize;
}
.active{
    color: gray;
    cursor: default;
    text-decoration: none;
}
.active:hover{
    text-decoration: none;
}